* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
    color: white;
}

.container-email {
    text-align: center;
    background-color: grey;
    width: 700px;
    margin: auto;
    padding: 10px;
    margin-top: 80px;
    border-radius: 5px;
}

.container-email > p {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 5px;
}

.container-email  a {
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}

.container-email a:hover {
    color: yellow;
}