:root {
    --text-color: #EA1F33;
    --text-color2: #CC1A2C;
    --text-color3: #A10010;
    --text-color4: #42475E;
    --text-color5: #646981;
    --text-color6: #bfc0c9;
    --bg: #F4F4F7;
    --bg1: #EEEEEE;
    --hover-red: #9e0211;
    --ff-primary: 'Inter', sans-serif;
    --ff-secondary: 'Ubuntu', sans-serif;
}

input {
    outline-style: none;
}

textarea {
    outline-style: none;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    height: 100vh;
   
}


/* Fale conosco */
.container {
    background-color: var(--bg1);
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.area-contato {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.fale-conosco {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.fale-conosco h2 {
    color: var(--text-color4);
    font-size: 2.2em;
    margin-bottom: 30px;
}

.fale-conosco a {
    text-decoration: none;
    color: var(--text-color5);
    margin-bottom: 25px;
    text-align: justify;
    font-size: 1.2em;
    transition: ease 0.5s;
}

.fale-conosco a:hover {
    color: #EA1F33;
}

.fale-conosco a i {
    font-size: 1.2em;
    color: #EA1F33;
    margin-right: 10px;
}



/* Formulario */
.formulario {
    display: flex;
    flex-direction: column;
    max-width: 450px;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.nav-form {
    background-color: white;
    border-radius: 5px;
    max-width: 445px;
    padding: 10px 0px;
}

.nav-form a {
    color: var(--text-color6);
    font-weight: bold;
    text-decoration: none;
    padding: 10px 27px;
    transition: ease 0.3s;
}

.nav-form a:hover {
    background-color: #EA1F33;
    color: var(--text-color6);
    border-radius: 5px;
}

form label input {
    width: 445px;
    color: var(--text-color4);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 20px 10px;
    margin-top: 10px;
    
}

.error {
    color: red;
    text-align: justify;
    margin-top: 6px;
}

form textarea {
    color: black;
    width: 445px;
    border: none;
    padding: 20px 10px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
}

form #btn {
    color: white;
    width: 445px;
    margin-top: 10px;
    padding: 20px 10px;
    font-size: 1.1em;
    background-color: #EA1F33;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: ease 0.3s;
}

form #btn:hover {
    background-color: #9c1825;
}

.active-item {
    background-color: #EA1F33;
    border-radius: 5px;
    color: white;
}




