* {
    margin: 0px;
    padding: 0px;
}

.container {
    display: grid;
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(5,20%);
    grid-template-rows: 20% 60%;
}

div {
    font-size: 40px;
    font-weight: bold;
    border: 1px solid black;
}